
        .silex-id-1550070807553-1 {
            width: 100px;
            background-color: rgb(255, 255, 255);
            min-height: 100px;
            top: 92px;
            left: 349px;
        }
    