
        .silex-id-1550070807553-1 {
            width: 100px;
            background-color: rgb(255, 255, 255);
            min-height: 100px;
            top: 4614px;
            left: 8px;
        }
        
        .silex-id-1550070937511-2 {
            width: 100px;
            background-color: rgb(255, 255, 255);
            min-height: 100px;
            top: 4547px;
            left: 293px;
        }
    